# Python cache and virtual environments
__pycache__/
*.pyc
venv/
.venv/

# PyInstaller build files
build/
dist/
*.spec


exiftool.exe

# ExifTool extra files
exiftool_files/
files/exiftool_files/
files/README.txt

# Editor & IDE files
.vscode/
*.xml